@{
    ViewBag.Title = "Admin - Dashbboard";
}

    <div class="dashTopRow">
        <div class="dashConsole dashTopCol">
            <div class="dashWindowHeader">

            </div>
        </div>
        <div class="dashConsole dashTopCol">
            <div class="dashWindowHeader">

            </div>
        </div>
     
    </div>
    <div class="dashBotRow">
        <div class="dashConsole dashBotCol">
            <div class="dashWindowHeader">

            </div>
        </div>
        <div class="dashConsole dashBotCol">
            <div class="dashWindowHeader">

            </div>
        </div>
        <div class="dashConsole dashBotCol">
            <div class="dashWindowHeader">

            </div>
        </div>
    </div>
