@{
    ViewBag.Title = "Admin - Dashbboard";
}

<div class="dashTopRow">
    <div class="dashConsole dashTopCol fl flt">

        <div class="dashWindowHeader">
            <h2>User Reports</h2>
        </div>
        <div id="reportWindow" class="dashWindowBody">
            <img src="https://media.giphy.com/media/QvH4uLw6QfrtE5BxXr/giphy.gif" style=" width:20%; height:20%; left: 40%; position:inherit; margin:auto; top:40%;" />
        </div>
    </div>
    <div class="dashConsole dashTopCol fr frt">
        <div class="dashWindowHeader">
            <h2>Challenge Suggestions</h2>
            <button class="btnDash btnHead" id="openSuggestion"><img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" /></button>
        </div>
        <div id="challengeWindow" class="dashWindowBody">
            <img src="https://media.giphy.com/media/QvH4uLw6QfrtE5BxXr/giphy.gif" style=" width:20%; height:20%; left: 40%; position:inherit; margin:auto; top:40%;" />
        </div>
    </div>

</div>
<div class="dashBotRow">
    <div class="dashConsole dashBotCol fl flb">
        <div class="dashWindowHeader">
            <h2>Manage Users</h2>
            <button class="btnDash btnHead" id="openEditUser"><img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" /></button>
        </div>
        <div id="userWindow" class="dashWindowBody">
       
            <img src="https://media.giphy.com/media/QvH4uLw6QfrtE5BxXr/giphy.gif" style=" width:20%; height:20%; left: 40%; position:inherit; margin:auto; top:40%;" />
        </div>
    </div>
    <div class="dashConsole dashBotCol">
        <div class="dashWindowHeader">
            <h2>Manage Challenges</h2>
        </div>
        <div id="manChallengeWindow" class="dashWindowBody">
           
            <img src="https://media.giphy.com/media/QvH4uLw6QfrtE5BxXr/giphy.gif" style=" width:20%; height:20%; left: 40%; position:inherit; margin:auto; top:40%;" />
        </div>
    </div>
    <div class="dashConsole dashBotCol fr frb">
        <div class="dashWindowHeader">
            <h2>Manage Bucketlists</h2>
            <button class="btnDash btnHead" id="openManBL"><img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" /></button>
        </div>
        <div id="blWindow" class="dashWindowBody">
           
            <img src="https://media.giphy.com/media/QvH4uLw6QfrtE5BxXr/giphy.gif" style=" width:20%; height:20%; left: 40%; position:inherit; margin:auto; top:40%;" />
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<div id="popUpReport" hidden="hidden">
    <div class="dashPopupHeader">
        <h1>VIEW REPORT</h1>
        <button class="btnDash btnHead" id="closeReport"><img class="btnPopImg" src="~/Content/Assets/buttonX.png" /></button>
    </div>
    <div class="dashPopupWindow">
      
    </div>
</div>


<div id="popUpManBL" hidden="hidden">
    <div class="dashPopupHeader">
        <h1>CREATE BUCKETLIST</h1>
        <button class="btnDash btnHead" id="closeManBL"><img class="btnPopImg" src="~/Content/Assets/buttonX.png" /></button>
    </div>
    <div class="dashPopupWindow">
        <label class="popUpLabel">Bucketlist Name:</label>
        <input id="manBlName" class="popupEdtText" type="text" placeholder="BUCKETLIST NAME" />
        <div class="popupList"> <ul class="dashUl" id="ulBLChallenges"></ul></div><br />

        <select class="dashSelect" name="ManBLselect" id="ManBLselect"></select>
        <button onclick="" id="saveBtn">SAVE</button>
    </div>
</div>

<div id="popUpReviewSuggestions" hidden="hidden">
    <div class="dashPopupHeader">
        <h1>REVIEW SUGGESTIONS</h1>
        <button class="btnDash btnHead" id="closeReview"><img class="btnPopImg" src="~/Content/Assets/buttonX.png" /></button>
    </div>
    <div class="dashPopupWindow">

        <label class="popUpLabel">Challenge Name:</label>
        <label class="popUpLabel">Challenge Description:</label>
        <label class="popUpLabel">Other Details:</label>

        <div class="dashPopupActions">
            <button class="btnDash">
                <img class="btnDashPopImg" src="~/Content/Assets/buttonX.png" />
            </button>
            <button class="btnDash">
                <img class="btnDashPopImg" src="~/Content/Assets/buttonAdd.png" />
            </button>

        </div>
    </div>
</div>
<div id="editUser" hidden="hidden">
    <div class="dashPopupHeader">
        <h1 id="userPopupHeading" >CREATE PROFILE</h1>
        <button class="btnDash btnHead" id="closeEditUser"><img class="btnPopImg" src="~/Content/Assets/buttonX.png" /></button>
    </div>
    <div id="userPopupWindow" class="dashPopupWindow">
        <input id="advFName" required class="popupEdtText" type="text" placeholder="FIRST NAME" />
        <input id="advSName" required class="popupEdtText" type="text" placeholder="SURNAME" />
        <input id="advEmail" required class="popupEdtText" type="text" placeholder="USERNAME" />
        <input id="advContact" required class="popupEdtText" type="text" placeholder="CONTACT" />

        <label class="popUpLabel">Admin</label><br />
                                               <label class="switch">
                                                   <input id="advAdmin" type="checkbox" />
                                                   <span class="slider round"></span>
                                               </label><br />
        <label class="popUpLabel">Enabled</label><br />
                                                 <label class="switch">
                                                     <input id="advActive" type="checkbox" />
                                                     <span class="slider round"></span>
                                                 </label>
        <button onclick="saveUser()" id="saveBtn">SAVE</button>
    </div>
</div>

<script src="~/Scripts/manBL.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        loadDivs();
    });

    $("#popUpManBL").dialog({
        autoOpen: false,
        modal: true,
        resizable: false,
        draggable: false
    });

    $("#ManBLselect").selectmenu({
        select: function (event, data) {
            selectChal(data);
            data.item.remove;
        }
    });
    $("#openManBL").click(function () {

        $("#popUpManBL").dialog('open');
    })

    $("#popUpReviewSuggestions").dialog({
        autoOpen: false,
        resizable: false,
        draggable: false,
        modal: true,
        dialogClass: "popUp"
    });
    $("#closeManBL").click(function () {
        $("#ulBLChallenges").html("");
        $("#manBlName").val("");
        $("#popUpManBL").dialog('close');
    });

    //COMMENT THIS OUT OR DELETE ONCE SAVE IS WORKING
    $("#saveBtn").click(function () {
        $("#popUpManBL").dialog('close');
    });


    $("#openSuggestion").click(function () {
        $("#popUpReviewSuggestions").dialog('open');
    });
    $("#closeReview").click(function () {
        $("#popUpReviewSuggestions").dialog('close');
    });
    $("#editUser").dialog({
        autoOpen: false, modal: true, resizable: false, draggable: false
    });
    $("#openEditUser").click(function () {
        $("#editUser").dialog('open');
    });
    $("#closeEditUser").click(function () {
         
        $("#editUser").dialog('close');
         $("#advFName").val("");
        $("#advSName").val("");
        $("#advEmail").val("");
        $("#advContact").val("");  
    });
    $("#popUpReport").dialog({
        autoOpen: false, modal: true, resizable: false, draggable: false
    });
    $("#closeReport").click(function () {
        $("#popUpReport").dialog('close');
    });
</script>