@{
    ViewBag.Title = "Admin - Dashbboard";
}

<div class="dashTopRow">
    <div class="dashConsole dashTopCol fl flt">

        <div class="dashWindowHeader">
            <h2>User Reports</h2>
        </div>
        <div class="dashWindowBody">
            @*<ul class="dashUl">
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
            </ul>*@
            <img src="https://media.giphy.com/media/QvH4uLw6QfrtE5BxXr/giphy.gif" style=" width:20%; height:20%; left: 40%; position:inherit; margin:auto; top:40%;" />
        </div>
    </div>
    <div class="dashConsole dashTopCol fr frt">
        <div class="dashWindowHeader">
            <h2>Challenge Suggestions</h2>
        </div>
        <div class="dashWindowBody">
            @*<ul class="dashUl">
            <li class="dashli liReport">
                <div class="dashliInfo">
                    Name and stuff
                </div>
                <div class="dashliActions">
                    <button class="btnDash">
                        <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                    </button>
                    <button id="openSuggestion" class="btnDash">
                        <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                    </button>

                </div>
            </li>
        </ul>*@
            <img src="https://media.giphy.com/media/QvH4uLw6QfrtE5BxXr/giphy.gif" style=" width:20%; height:20%; left: 40%; position:inherit; margin:auto; top:40%;" />
        </div>
    </div>

</div>
<div class="dashBotRow">
    <div class="dashConsole dashBotCol fl flb">
        <div class="dashWindowHeader">
            <h2>Manage Users</h2>
        </div>
        <div class="dashWindowBody">
            @*<ul class="dashUl">
            <li class="dashli liReport">
                <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                <div class="dashliInfo">
                    Name and stuff
                </div>
                <div class="dashliActions">
                    <button class="btnDash">
                        <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                    </button>
                    <button id="openEditUser" class="btnDash">
                        <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                    </button>
                </div>
            </li>
        </ul>*@
            <img src="https://media.giphy.com/media/QvH4uLw6QfrtE5BxXr/giphy.gif" style=" width:20%; height:20%; left: 40%; position:inherit; margin:auto; top:40%;" />
        </div>
    </div>
    <div class="dashConsole dashBotCol">
        <div class="dashWindowHeader">
            <h2>Manage Challenges</h2>
        </div>
        <div class="dashWindowBody">
            @*<ul class="dashUl">
            <li class="dashli liReport">
                <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                <div class="dashliInfo">
                    Name and stuff
                </div>
                <div class="dashliActions">
                    <button class="btnDash">
                        <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                    </button>
                    <button class="btnDash">
                        <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                    </button>
                </div>
            </li>
        </ul>*@
            <img src="https://media.giphy.com/media/QvH4uLw6QfrtE5BxXr/giphy.gif" style=" width:20%; height:20%; left: 40%; position:inherit; margin:auto; top:40%;" />
        </div>
    </div>
    <div class="dashConsole dashBotCol fr frb">
        <div class="dashWindowHeader">
            <h2>Manage Bucketlists</h2>
            <button class="btnDash btnHead" id="openManBL"><img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" /></button>
        </div>
        <div class="dashWindowBody">
            @*<ul class="dashUl">
          <li class="dashli liReport">
              <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
              <div class="dashliInfo">
                  Name and stuff
              </div>
              <div class="dashliActions">
                  <button class="btnDash">
                      <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                  </button>
                  <button class="btnDash">
                      <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                  </button>
              </div>
          </li>
        </ul>*@
            <img src="https://media.giphy.com/media/QvH4uLw6QfrtE5BxXr/giphy.gif" style=" width:20%; height:20%; left: 40%; position:inherit; margin:auto; top:40%;" />
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<div id="popUpManBL" hidden="hidden">
    <div class="dashPopupHeader">
        <h1>CREATE BUCKETLIST</h1>
        <button class="btnDash btnHead" id="closeManBL"><img class="btnPopImg" src="~/Content/Assets/buttonX.png" /></button>
    </div>
    <div class="dashPopupWindow">
        <input class="popupEdtText" type="text" placeholder="BUCKETLIST NAME" />
        <div class="popupList"> <ul class="dashUl" id="ulBLChallenges"></ul></div><br />

        <select class="dashSelect" name="ManBLselect" id="ManBLselect">
            <option selected="selected">Add challenge</option>
            <option value="Climb">Climb a big rock</option>
            <option value="Sleep">Sleep</option>
            <option value="Milk a cow">Milk a cow</option>
            <option value="Grow a tree">Grow a tree</option>
            <option value="Fly a pinkmobile">Fly a pinkmobile</option>
        </select>
        <button onclick="" id="saveBtn">SAVE</button>
    </div>
</div>
<div id="popUpReviewSuggestions" hidden="hidden">

    <div class="dashPopupHeader">
        <h1>REVIEW SUGGESTIONS</h1>
        <button class="btnDash btnHead" id="closeReview"><img class="btnPopImg" src="~/Content/Assets/buttonX.png" /></button>
    </div>
    <div class="dashPopupWindow">

        <label class="popUpLabel">Challenge Name:</label>
        <label class="popUpLabel">Challenge Description:</label>
        <label class="popUpLabel">Other Details:</label>

        <div class="dashPopupActions">
            <button class="btnDash">
                <img class="btnDashPopImg" src="~/Content/Assets/buttonX.png" />
            </button>
            <button class="btnDash">
                <img class="btnDashPopImg" src="~/Content/Assets/buttonAdd.png" />
            </button>

        </div>
    </div>
</div>
<div id="editUser" hidden="hidden">
    <div class="dashPopupHeader">
        <h1>EDIT PROFILE</h1>
        <button class="btnDash btnHead" id="closeEditUser"><img class="btnPopImg" src="~/Content/Assets/buttonX.png" /></button>
    </div>
    <div class="dashPopupWindow">
        <input class="popupEdtText" type="text" placeholder="FIRST NAME" />

        <input class="popupEdtText" type="text" placeholder="SURNAME" />
        <input class="popupEdtText" type="text" placeholder="USERNAME" />
        <input class="popupEdtText" type="text" placeholder="CONTACT" />

        <label class="popUpLabel">Admin</label><br />
        <input type="checkbox" /><br />
        <label class="popUpLabel">Enabled</label><br />
        <input type="checkbox" />




        <button onclick="" id="saveBtn">UPDATE</button>
    </div>
</div>

<script src="~/Scripts/manBL.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        loadDivs();
    });

    $("#popUpManBL").dialog({
        autoOpen: false,
        modal: true,
        resizable: false,
        draggable: false
    });

    $("#ManBLselect").selectmenu({
        select: function (event, data) {
            selectChal(data);
            data.item.remove;
        }
    });
    $("#openManBL").click(function () {

        $("#popUpManBL").dialog('open');
    })

    $("#popUpReviewSuggestions").dialog({
        autoOpen: false,
        resizable: false,
        draggable: false,
        modal: true,
        dialogClass: "popUp"
    });
    $("#closeManBL").click(function () {
        $("#popUpManBL").dialog('close');
    });

    //COMMENT THIS OUT OR DELETE ONCE SAVE IS WORKING
    $("#saveBtn").click(function () {
        $("#popUpManBL").dialog('close');
    });


    $("#openSuggestion").click(function () {
        $("#popUpReviewSuggestions").dialog('open');
    });
    $("#closeReview").click(function () {
        $("#popUpReviewSuggestions").dialog('close');
    });
    $("#editUser").dialog({
        autoOpen: false, modal: true, resizable: false, draggable: false
    });
    $("#openEditUser").click(function () {
        $("#editUser").dialog('open');
    });
    $("#closeEditUser").click(function () {
        $("#editUser").dialog('close');
    });
</script>