@{
    ViewBag.Title = "Admin - Dashbboard";
}

<div class="dashTopRow">
    <div class="dashConsole dashTopCol fl flt">
        <div class="dashWindowHeader">
            <h2>User Reports</h2>
        </div>
        <div class="dashWindowBody">
            <ul class="dashUl">
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>

                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dashConsole dashTopCol fr frt">
        <div class="dashWindowHeader">
            <h2>Challenge Suggestions</h2>
        </div>
        <div class="dashWindowBody">
            <ul class="dashUl">
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="dashBotRow">
    <div class="dashConsole dashBotCol fl flb">
        <div class="dashWindowHeader">
            <h2>Manage Users</h2>
        </div>
        <div class="dashWindowBody">
            <ul class="dashUl">
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dashConsole dashBotCol">
        <div class="dashWindowHeader">
            <h2>Manage Challenges</h2>
        </div>
        <div class="dashWindowBody">
            <ul class="dashUl">
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dashConsole dashBotCol fr frb">
        <div class="dashWindowHeader">
            <h2>Manage Bucketlists</h2>
        </div>
        <div class="dashWindowBody">
            <ul class="dashUl">
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff HERE
                    </div>
                    <div class="dashliActions">
                        <button id="opener" class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<div id="popUpReviewSuggestions"hidden="hidden">
  
        <div class="dashWindowHeader">
            <h2>Manage Bucketlists</h2>
        </div>
   
</div>
<script>
    $(function () {
        $("#popUpReviewSuggestions").dialog({
            autoOpen: true,
            resizable: false,
            draggable: false,          
            modal: true,
            dialogClass: "popUp"
        });

        $("#opener").click(function () {
            $("#popUpReviewSuggestions").dialog('open');
        });
    });
</script>