@{
    ViewBag.Title = "Admin - Dashbboard";
}

<div class="dashTopRow">
    <div class="dashConsole dashTopCol fl flt">
        <div class="dashWindowHeader">
            <h2>User Reports</h2>
        </div>
        <div class="dashWindowBody">
            <ul class="dashUl">
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>

                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dashConsole dashTopCol fr frt">
        <div class="dashWindowHeader">
            <h2>Challenge Suggestions</h2>
        </div>
        <div class="dashWindowBody">
            <ul class="dashUl">
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
                <li class="dashli liReport">
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonX.png" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" />
                        </button>

                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="dashBotRow">
    <div class="dashConsole dashBotCol fl flb">
        <div class="dashWindowHeader">
            <h2>Manage Users</h2>
        </div>
        <div class="dashWindowBody">
            <ul class="dashUl">
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dashConsole dashBotCol">
        <div class="dashWindowHeader">
            <h2>Manage Challenges</h2>
        </div>
        <div class="dashWindowBody">
            <ul class="dashUl">
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dashConsole dashBotCol fr frb">
        <div class="dashWindowHeader">
            <h2>Manage Bucketlists</h2>
            <button class="btnDash btnHead" id="openManBL"><img class="btnDashLiImg" src="~/Content/Assets/buttonAdd.png" /></button>
        </div>
        <div class="dashWindowBody">
            <ul class="dashUl">
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff
                    </div>
                    <div class="dashliActions">
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
                <li class="dashli liReport">
                    <img class="btnDashLiImg dashProfileImg" src="~/Content/Assets/profile.PNG" />
                    <div class="dashliInfo">
                        Name and stuff HERE
                    </div>
                    <div class="dashliActions">
                        <button id="opener" class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/delete.PNG" />
                        </button>
                        <button class="btnDash">
                            <img class="btnDashLiImg" src="~/Content/Assets/edit.png" />
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<div id="dialog1" title="Dialog Title" hidden="hidden">I'm a dialog</div>
<script>
    $(function () {
        $("#dialog1").dialog({
            autoOpen: false
        });

        $("#opener").click(function () {
            $("#dialog1").dialog('open');
        });
        $("#openManBL").click(function () {
            $("#popUpManBL").dialog('open');
        });
    });
</script>

<div id="popUpManBL"  title="Create Bucket List" hidden="hidden">
    <input type="text" placeholder="BUCKETLIST NAME" />
    <ul class="dashUl" id="ulBLChallenges">
        <li class="dashli liReport">            
            <div class="dashliInfo">
                List item
            </div>            
        </li>
        <li class="dashli liReport">            
            <div class="dashliInfo">
                List item
            </div>            
        </li>
        <li class="dashli liReport">           
            <div class="dashliInfo">
                List item
            </div>            
        </li>
    </ul>
    <select name="ManBLselect" id="ManBLselect">
        <option selected="selected">Add challenge</option>
        <option value="climb">Climb a big rock</option>
        <option>Sleep</option>
        <option>Milk a cow</option>
        <option>Grow a tree</option>
        <option>Fly a pinkmobile</option>
    </select>
    <br/><br/><br />
    <button onclick="" id="saveBtn">SAVE</button>
</div>
<script src="~/Scripts/manageAdminUsers.js"></script>
            <h2>Manage Bucketlists</h2>
        $("#popUpManBL").dialog({
            autoOpen: false, modal: true, resizable: false, draggable: false
        $("#ManBLselect").selectmenu({
            select: function (event, data) {
                selectChal(data);
            }