@model Kick_It_Web.Models.Adventurer

@{
    Layout = "";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="~/Content/Site.css" rel="stylesheet"
      type="text/css" />
<link href="~/Content/semantic.min.css" rel="stylesheet"
      type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="~/Scripts/semantic.min.js"></script>
<body>

  
        <form action="login/login" method="post" >
            <div id="loginCont">
                <div class="loginHeader">
                </div>
                <div class="loginForm">
                    <input id="loginEmail" class="form-control" placeholder="Email Address" name="loginEmail" type="email" runat="server"/>
                    <br/>
                   <input id="loginPassword" class="form-control" placeholder="Password" name="loginPassword" type="password" runat="server" />
                    <br/>
                    <input type="submit" value="Login" id="loginBtn" />
                    <br/>
                </div>
            </div>
        </form>
    }

    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
</body>

